<!DOCTYPE HTML>

<html>
	<head>
		<title>Stockr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<noscript><link rel="stylesheet" href="/stylesheets/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include('../partials/header') %>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a id = "btn_google" class="active" >Google</a></li>
							<li><a id = "btn_twitter">Twitter</a></li>
							<li><a id = "btn_uber">Uber</a></li>
							<li><a id = "btn_snap">Snap</a></li>
							<li><a id = "btn_pinterest">Pinterest</a></li>
							<li><a id = "btn_microsoft">Microsoft</a></li>
							<li><a id = "btn_capitalone">Capital One</a></li>
							<li><a id = "btn_wallmart">Wallmart</a></li>
							<li><a id = "btn_toyota">Toyota</a></li>
							<li><a id = "btn_gm">GM</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<ul class="statistics">
							<li class="style1">
								<a id = "btn_range_real_time">Real Time</a>
							</li>
							<li class="style1">
								<a id = "btn_range_one_week">1 week</a>
							</li>
							<li class="style1 style3">
								<a id = "btn_range_six_months">6 months</a>
							</li>
							<li class="style1">
								<a id = "btn_range_one_year">1 year</a>
							</li>
							<li class="style1">
								<a id = "btn_range_five_years">5 years</a>
							</li>
							<li class="style1">
								<a id = "btn_range_all">All</a>
							</li>
						</ul>


							<section id="google" class="main currently_shown">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Google</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.GOOG.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.GOOG.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.GOOG.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="google_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
										
									</div>
								</div>
							</section>

							<section id="twitter" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Twitter</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.TWTR.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.TWTR.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.TWTR.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="twitter_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="uber" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Uber</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.UBER.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.UBER.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.UBER.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="uber_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="snap" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Snap</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.SNAP.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.SNAP.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.SNAP.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="snap_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="pinterest" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Pinterest</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.PINS.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.PINS.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.PINS.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="pinterest_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="microsoft" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Microsoft</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.MSFT.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.MSFT.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.MSFT.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="microsoft_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="capitalone" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Capital One</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.COF.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.COF.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.COF.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="capitalone_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="wallmart" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Wallmart</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.WMT.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.WMT.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.WMT.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="wallmart_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="toyota" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Toyota</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.TM.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.TM.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.TM.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="toyota_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<section id="gm" class="main" style="display: none;">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>General Motors</h2>
											<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; height: 27px;
											display: flex; justify-content: space-between; width: 100%; align-items: stretch">
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">10 day highest: $<%= stats.GM.highest %> </p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly average: $<%= stats.GM.average %></p></li>
												<li style="float: left; margin-right: 30px;"><p style="font-size: 1em;">Yearly lowest: $<%= stats.GM.lowest %></p></li>
									   		</ul>
										</header>
										<div>
											<canvas id="gm_chart" width="400" height="400" style="height: 400px; width: 100%"></canvas>
										</div>
									</div>
								</div>
							</section>

							<a id = "query_link" style="margin-left: 30px;" href="/query/GOOG">List of companies with average yearly price lower than this company's lowest price.</a>
					</div>

	

				<!-- Footer -->
				<%- include('../partials/footer') %>

			</div>

		<!-- Scripts -->
			<script src="javascripts/jquery.min.js"></script>
			<script src="javascripts/jquery.scrollex.min.js"></script>
			<script src="javascripts/jquery.scrolly.min.js"></script>
			<script src="javascripts/browser.min.js"></script>
			<script src="javascripts/breakpoints.min.js"></script>
			<script src="javascripts/util.js"></script>
			<script src="javascripts/main.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
			<script src="javascripts/stockr.js"></script>

	</body>
</html>